In [7]:
from sklearn.preprocessing import LabelEncoder

items=['tv','refri','electric', 'computer', 'fan', 'refri', 'mixer','mixer']
encoder=LabelEncoder();
encoder.fit(items)
labels = encoder.transform(items)

encoder.inverse_transform(labels)

array(['tv', 'refri', 'electric', 'computer', 'fan', 'refri', 'mixer',
       'mixer'], dtype='<U8')

In [15]:
from sklearn.preprocessing import OneHotEncoder
import numpy as np

items=['tv','refri','electric', 'computer', 'fan', 'refri', 'mixer','mixer']
encoder = LabelEncoder();
labels = encoder.fit(items).transform(items)

labels = labels.reshape(-1,1)

oh_encoder = OneHotEncoder()
oh_encoder.fit(labels)
oh_labels = oh_encoder.transform(labels)

array([[0., 0., 0., 0., 0., 1.],
       [0., 0., 0., 0., 1., 0.],
       [0., 1., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0., 0.]])

In [19]:
import pandas as pd

items=['tv','refri','electric', 'computer', 'fan', 'refri', 'mixer','mixer']
df = pd.DataFrame({'item':items})
pd.get_dummies(df)

   item_computer  item_electric  item_fan  item_mixer  item_refri  item_tv
0              0              0         0           0           0        1
1              0              0         0           0           1        0
2              0              1         0           0           0        0
3              1              0         0           0           0        0
4              0              0         1           0           0        0
5              0              0         0           0           1        0
6              0              0         0           1           0        0
7              0              0         0           1           0        0

In [20]:
from sklearn.datasets import load_iris;
import pandas as pd

iris=load_iris();
iris_data = iris.data
iris_df = pd.DataFrame(data=iris_data, columns =iris.feature_names)

from sklearn.preprocessing import StandardScaler
s
scaler = StandardScaler();
scaler.fit(iris_df)
iris_scaled = scaler.transform(iris_df)

sepal length (cm)    5.843333
sepal width (cm)     3.057333
petal length (cm)    3.758000
petal width (cm)     1.199333
dtype: float64